#body{
    border-style: solid;
    background-color: black;
}
#chat{
    position: absolute;
    border-style: solid;
    border-color: white;
    width: 40%;
    height: 98%;
    margin: auto;
    top: 0px;
}
#otherstuff{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 28%;
    right: 3px;
    height: 98%;
    background-color: white;
}
.text{
    color: white;
}
#sidebar{
    position: absolute;
    border-style: solid;
    border-color: transparent;
    width: 28%;
}
#middlebar{
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 30%;
    height: 98%;
    left: 41%;
    background-color: whitesmoke;
}
.subicon1{
    border-style: solid;
    border-radius: 8px;
    margin: 5px;
    padding: 0px;
}
.subicon1:hover{
    cursor: pointer;
}
#add{
    position: absolute;
    background-size: cover;
    background-image: url(assets/add.png);
    background-position: center;
    width: 5vh;
    height: 5vh;
    top: 10px;
}
#icons{
    position: relative;
    top: 3%;
}
#addin{
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    width: 83%;
    top: 10px;
}